<table>
  <tr>
    <th>Date</th>
    <th>Time</th>
    <th>Style</th>
    <th>Teacher</th>
    <th></th>
    <% if current_user && current_user.admin %>
        <th></th>
        <th></th>
    <% end %>
  </tr>
  <% @yoga_classes.each do |yoga_class| %>
        <tr>
            <td><%=yoga_class.formatted_date%></td>
            <td><%=yoga_class.formatted_time%></td>
            <td><%= yoga_class.style.name %></td>
            <td><%= link_to yoga_class.teacher.first_name, teacher_path(yoga_class.teacher) %></td>
            <td>
            <% if current_user && current_user.yoga_classes.include?(yoga_class) %>
                <%= form_tag delete_class_path do %>
                    <%= hidden_field_tag :yoga_class_id, yoga_class.id %>
                    <%= submit_tag "Cancel Class" %>
                <% end %>
            <% else %>
                <%= form_tag add_class_path do %>
                    <%= hidden_field_tag :yoga_class_id, yoga_class.id %>
                    <%= submit_tag "Book Class" %>
                <% end %>
            <% end %>
            <td>
            <% if current_user && current_user.admin %>
                <td><%= link_to "Edit Class", edit_yoga_class_path(yoga_class) %> </td>
                <td> <%= link_to "Delete Class", yoga_class_path(yoga_class), method:'delete' %> </td>
            <% end %>
        </tr>
    <% end %>
</table>

