<% if @yoga_class.errors.any? %>
  <% @yoga_class.errors.full_messages.each do |message|%>
  <li><%= message %> </li>
  <%end%>
<%end%>

<%= form_for @yoga_class  do |f| %>
    <%= f.label :date %>
    <%= f.date_field :date %>
    <br/>
    <%= f.label :time %>
    <%= f.time_field :time %>
    <br/>
    <%= f.label :style_name %>
    <%= f.text_field :style_name %>
    <br/>
    <%= f.label :teacher_id %>
    <%= f.collection_select :teacher_id, Teacher.all, :id, :first_name %>
    <br/>
  
    <%= f.submit %>
<% end %>