<% @yoga_classes.each do |yoga_class| %>
    <li> 
    <%= yoga_class.date %> 
    <%= yoga_class.time %> 
    <%= yoga_class.style %> 
    <%= yoga_class.teacher %> 
    <%= yoga_class.studio %> 
    </li>
<% end %>