<% @yoga_classes.each do |yoga_class| %>
    <li> 
    <%= yoga_class.date %> 
    <%= yoga_class.time %> 
    <%= yoga_class.style.name %> 
    <%= yoga_class.teacher.first_name %> 
    <%= yoga_class.studio.name %> 
    <%= form_tag add_class_path do %>
        <%= hidden_field_tag :yoga_class_id, yoga_class.id %>
        <%= submit_tag "Add Class" %>
      <% end %>
    </li>
    
<% end %>

</br>

<% if current_user && current_user.admin %>
    <li> <%= link_to 'Create new class', new_yoga_class_path %></li>
<% end %>
