<% @yoga_classes.each do |yoga_class| %>
    <li> 
    <%= yoga_class.date %> 
    <%= yoga_class.time %> 
    <%= yoga_class.style.name %> 
    <%= yoga_class.teacher.first_name %> 
    <%= yoga_class.studio.name %> 
    </li>
<% end %>

</br>

<li> <%= link_to 'Create new class', new_yoga_class_path %> </li>