<li> 
<%= @yoga_class.date %> 
<%= @yoga_class.time %> 
<%= @yoga_class.style.name %> 
<%= @yoga_class.teacher.first_name %> 
</li>

<%= link_to "Add Class to My Schedule", add_class_path, method:'post' %>

<div class="edit-link">
    <%= link_to "Add Class to My Schedule", add_class_path, method:'post' %>
</div>