<h1> <%= @teacher.full_name %> </h1> 

<% if current_user && current_user.admin %>
    <%= link_to "Edit Teacher Profile", edit_teacher_path(@teacher) %>
<% end %>

<div class="welcome-bio-message">
    <p> <%= @teacher.bio %> </p>    
</div>

<div class="list-header">
    <h2> <%= @teacher.first_name %>'s Styles: </h2> 
</div>
     
<div class="list">
<% @teacher.styles.uniq.each do |style| %>
    <li> 
        <%= style.name %> 
        </li>
    <% end %>
</div>

<div class="list-header">
    <h2> <%= @teacher.first_name %>'s Upcoming Classes: </h2> 
</div>

<%= render 'yoga_classes/class_table' %> 

<% if current_user && current_user.admin %>
    <%= link_to "Add Class to Teacher's Schedule", new_teacher_yoga_class_path(@teacher) %>
<% end %>
