<h1> <%= @teacher.full_name %> </h1> 
<p> <%= @teacher.bio %> </p> 

<h2> <%= @teacher.first_name %>'s Styles: </h2> 
<% @teacher.styles.uniq.each do |style| %>
    <li> 
    <%= style.name %> 
    </li>
<% end %>

<h2> <%= @teacher.first_name %>'s Upcoming Classes: </h2> 

<%= render 'yoga_classes/class_table' %> 

<%= link_to "Edit Teacher Profile", edit_teacher_path(@teacher) %>
