<!DOCTYPE html>
<html>
  <head>
    <title>YogaStudioSchedule</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <div class="navbar"> 
    <nav> 
      <%= link_to 'Home', root_path %>
      <%= link_to 'Class Schedule', schedule_path %>
      <%= link_to 'Teachers', teachers_path %> 
      <%  if logged_in?  %> 
          <%= link_to "My Account", user_path(current_user)%>
      <% else %>
          <%=link_to 'Sign Up', new_user_path %>
      <% end %> 
      <%  if logged_in?  %> 
          <%= link_to "Sign Out", signout_path, method:'delete' %> 
      <% else %>
          <%=link_to 'Sign In', signin_path %> 
      <% end %> 
    <nav> <br>

    <%= flash[:message] if flash[:message]   %>

    <%= yield %>
  </body>
</html>
